In [2]:
import pandas as pd
import numpy as np

# 1. Creating a dataframe from an array

## 1.1 Option 1

In [5]:
# creating an array
data = np.array([
    [1,4],
    [2,5],
    [3,6]
])

In [7]:
# Creating a dataframe
df = pd.DataFrame(
    data,
    index=['row1','row2','row3'],
    columns=['col1', 'col2']
)

In [9]:
# Show the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

## 1.2 Option 2

In [10]:
# creating an array with list shape
data = [
    [1,4],
    [2,5],
    [3,6]
]

In [11]:
# Creating a dataframe
df = pd.DataFrame(
    data,
    index=['row1','row2','row3'],
    columns=['col1', 'col2']
)

In [12]:
# showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6