In [1]:
import pandas as pd

In [2]:
# Reading the csv file
df_exams = pd.read_csv("StudentsPerformance.csv")
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# 1. Selecting one column

## 1.1 Syntax 1

In [3]:
# selecting a column with [] (preferred)
df_exams["gender"]

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [4]:
# Check the data type of column
type(
df_exams["gender"]
)

pandas.core.series.Series

In [5]:
#Series : attributes and methods
df_exams["gender"].index

RangeIndex(start=0, stop=1000, step=1)

In [6]:
df_exams["gender"].head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: object

## 1.2 Syntax 2

In [7]:
# Using the (.) sign
df_exams.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [11]:
# pit falls of the above syntax
# df_exams.math score
df_exams.math_score

AttributeError: 'DataFrame' object has no attribute 'math_score'

In [12]:
#Selecting the same col using []
df_exams["math score"]

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64